window {
    background-color: rgba(10, 10, 10, 0.7); /* Твой черный с прозрачностью */
    border: 2px solid #74D600; /* Зеленый C.C. */
    border-radius: 10px;
}

#input {
    color: white;
    background: rgba(40, 40, 40, 0.5);
}

#selected {
    background-color: #74D600;
    color: black;
}
